.game-play {
  display: flex;
  justify-content: center;
}

.container {
    /* height: 1024px;*/
    /*/width: 1024px;*/
}

.player {
    width: 15px;
    height: 15px;
    border-radius: 75px;
    background: red;
    position: absolute;
    left: 1015px;
    top: 1015px;
    display: none;
}

.visible {
    display: block;
}

.start {
    float: right;
}

.team-tab {
  width: 200px;
  justify-content: center;
  padding: 0px 20px;
}

.fa-check {
  color: lawngreen;
}

.data-column {
  width: 80px;
}